.wrapper{
  display: flex;
  width: 100%;
  height: 100vh;
}
.content{
  width: 100%;
  height: 100%;
  padding: 80px 0;
}
.sidebar{
  position: sticky;
  top: 0;
  left: 0;
  width: fit-content;
  height: 100%;
}
.header{
  display: none;
}
.link{
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 700px) {
  .wrapper{
    flex-direction: column-reverse;
  }
  .sidebar{
    bottom: 0;
    top: unset;
    height: 50px;
    width: 100%;
  }
  .content{
    flex-grow: 1;
    padding: 0 0 20px 0;
  }
  .header{
    display: block;
    text-align: center;
    margin: 0;
  }
  .topbar{
    position: sticky;
    width: 100%;
    height: 80px;
    background-color: #2A4494;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}