.wrapper{
  width: 200px;
  /* height: 200px; */
  border: 1px solid #9acd32;
  border-radius: 8px;
  padding: 10px;

  height: fit-content;
}
.reviews{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.bar{
  width: 80%;
  height: 20px;
  background-color: aqua;
}
.bar2{
  width: 60%;
  height: 20px;
  background-color: aqua;
}
.bar3{
  width: 50%;
  height: 20px;
  background-color: aqua;
}
@media screen and (max-width: 700px) {
  .wrapper{
    position: absolute;
    top: 0;
    background-color: #FFF;
    height: 100px;
  }
  .reviews{
    font-size: 9px;
    line-height: 9px;
  }
  .details{
    font-size: 13px;
    line-height: 13px;
  }
}